<p id="notice"><%= notice %></p>

<h2>Welcome <%= @user.name %></h2>

<p>These are the options that you've chosen so far!</p>

<ul>
  <% @wyrs.each do |wyr| %>
  <li><%= wyr %></li>
  <% end %>
  </ul>



<%= link_to 'Edit Profile', edit_user_path(@user) %> |
<%= link_to 'Create new Option', new_would_you_rather_path %> |
<%= link_to 'Play would you rather',
