<p id="notice"><%= notice %></p>

<h2>Welcome <%= @user.name %></h2>

<p>These are the options that you've chosen so far!</p>

<ul>
  <% @wyrs.each do |wyr| %>
  <li><%= wyr %></li>
  <% end %>
  </ul>



<%= button_to 'Edit Profile', edit_user_path(@user), method: :get %>
<%= button_to 'Back', users_path, method: :get %>
